<div class="container">
    <div class="row">
      <div class="col">

        <div *ngFor="let empleado of empleados; let i=index"> 
            {{i+1}} {{empleado.nombre}} {{empleado.apellido}}. Cargo: {{empleado.cargo}}. 
            Salario:<span [ngClass]="{salarioEstilo:empleado.salario>3000}">{{empleado.salario}}</span>   
        </div>

        
        <app-caracteristicas-empleado (caracteristicasEmpleados)="addCaracteristica($event)"></app-caracteristicas-empleado>
        <ul style="list-style: none;">
            <li *ngFor="let item of arrayCaracteristicas">{{item}}</li>
        </ul>
        
      </div>
      <div class="col">
        <form name="formulario" id="formulario">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input class="form-control" type="text" name="nombre" id="nombre"  [(ngModel)]="nombre" />
          </div>
        
          <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input class="form-control" type="text" name="apellidos" id="apellidos" [(ngModel)]="apellidos" />
          </div>
        
          <div class="form-group">
            <label for="cargo">Cargo:</label>
            <input class="form-control" name="cargo" type="text" id="cargo" [(ngModel)]="cargo" />
          </div>
        
          <div class="form-group">
            <label for="salario">Salario:</label>
            <input class="form-control" name="salario" type="number" id="salario" [(ngModel)]="salario"/>
          </div>
               
          <input class="btn btn-primary mt-3" type="submit" name="enviar" id="enviar" value="Enviar" (click)="enviarInformacion()" />
        </form> 
      </div>
    </div>
    
  </div>
