<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/proyectos">Proyectos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/quienes">Quienes Somos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contacto">Contactos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/prueba">Prueba</a>
  </li>
  <li class="nav-item" *ngIf="!estaLogueado()">
    <a class="nav-link" routerLink="/login">Login</a>
  </li>
  <li class="nav-item" *ngIf="estaLogueado()">
    <a class="nav-link" (click)="logout()">Logout</a>
  </li>
</ul>

<router-outlet></router-outlet>

